@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
:root {
    /* Primary */
    --marine-blue: hsl(213, 96%, 18%);
    --purplish-blue: hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --light-blue: hsl(206, 94%, 87%);
    --strawberry-red: hsl(354, 84%, 57%);

    /* Neutral */
    --cool-gray: hsl(231, 11%, 63%);
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);
}

.disabled-text {
    color: var(--cool-gray);
}
.active-text, .disabled-text {
    font-weight: 650;
}
/*
    ################################################
    ################################################
    Global Styles
    ################################################
    ################################################
*/
body {
  font-family:'Ubuntu', sans-serif;
  background-color: var(--light-blue)!important;
}
.bg-light-gray {
    background-color: var(--light-gray);
}
.bg-marine-blue {
    background-color: var(--marine-blue);
}
.active-text {
    color: var(--marine-blue);
}
.wrapper {
    width: 60%;
    height: 80vh;
    margin: auto;
    margin-top: 3%;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 4px 8px 10px var(--light-gray);
    background-color: var(--white)
}
.prev-btn {
    background: none;
    color: var(--cool-gray);
}
.next-btn {
    border-radius: 8px;
    background-color: var(--marine-blue);
    color: var(--white);
}
.prev-btn, .next-btn {
    padding: 8px 16px;
    font-weight: 550;
    transition: 0.7s;
    border: none;
}
.prev-btn:hover {
    color: var(--marine-blue);
}
.attribution {
    padding: 20px;
    text-align: center;
}
/*
    ################################################
    ################################################
    Sidebar Styles
    ################################################
    ################################################
*/
.sidebar {
    background-image: url("./assets/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    padding: 20px;
    height: 75vh;
} 
.step {
    margin-bottom: 16px;
}
.step h5{
    border-radius: 50%;
    color: var(--white);
    width: 30px; 
    height: 30px;
    padding: 4px;
    text-align: center;
    margin-right: 10px;
    border:  1px solid var(--magnolia);
    font-size: 14px;
}
.active-step {
    color: var(--marine-blue);
    background-color: var(--light-blue)
}
.step div {
    line-height:  5px;
    text-transform: uppercase;
}
.step h6 {
    color: var(--cool-gray);
    font-size: 12px;
}
.step p {
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
}
.heading {
    color: var(--marine-blue);
    font-weight: 700;
}
form input[type="text"], input[type="email"] {
    display: block;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    border: 1.5px solid var(--light-gray);
    outline: none;
}
form input[type="text"]:focus, input[type="email"]:focus{
    border: 1.5px solid var(--purplish-blue);
}
form input[type="submit"] {
    padding: 15px;
    float: right;
    background-color: var(--purplish-blue);
    color: var(--white);
    border-radius: 10px;
    border: none
}

form label {
    font-weight: 600;
    color: var(--marine-blue);
    font-size: 13px;
}
form div {
    line-height: 10px;
}
form span {
    float: right;
    color: var(--strawberry-red);
    font-weight: 450;
    font-size: 13px;
}

.selectPlan-card div:last-child{
    line-height: 8px;
}
.selectPlan-card div:last-child p{
    color: var(--cool-gray);
    font-size: 14px;
}
/*
    ################################################
    ################################################
    Add-ons  styles
    ################################################
    ################################################
*/
.add-ons-card {
    cursor: pointer;
    border-radius: 10px;
    border: 1.5px solid var(--light-gray);
    transition: border 0.6s;
    margin-bottom: 12.8px;
}
.add-ons-card:hover {
    border: 1.5px solid var(--purplish-blue);
}
.add-ons-card-checked {
    border: 1.5px solid var(--purplish-blue);
}
.add-ons-card img {
    width: 40px;
    height: auto;
}
.add-ons-card h5 {
    color: var(--marine-blue);
}
.add-ons-card p {
    color: var(--cool-gray);
    font-size: 14px;
}
.add-ons-card div {
    line-height: 8px
}
.add-ons-card input[type=checkbox] {
    width: 17px;
    height: 17px;
    accent-color: var(--purplish-blue);
}
.add-ons-card .col-8 {
    line-height: 1px;
}
.add-ons-card .col-8 h6{
    color: var(--marine-blue);
}
.add-ons-card .col-3 {
    color: var(--purplish-blue);
    font-weight: 450;
}
/*
    ################################################
    ################################################
    Summary  styles
    ################################################
    ################################################
*/
.summary-wrapper {
    padding: 20px;
    border-radius: 10px;
    background: var(--alabaster)
}
.summary-add-ons-card button {
    border:  none;
    background: transparent;
    padding: 0;
    text-decoration: underline;
    color: var(--cool-gray);
    transition: color 0.7s
}
.summary-add-ons-card button:hover {
    color: var(--purplish-blue);
}
.summary-add-ons-card{
    line-height: 10px;
}
.summary-add-ons-card div:first-child, div:last-child {
    color: var(--marine-blue);
    font-weight: 600;
}
.add-ons-summary div{
    margin-bottom: 8px;
}
.add-ons-summary  div div:first-child {
    color: var(--cool-gray);
}
.add-ons-summary  div div:last-child {
    color: var(--marine-blue);
    font-weight: 450;
    font-size: 14px;
}

.total-price {
    margin-bottom: 40px;
}
.total-price div:first-child {
    color: var(--cool-gray);
    font-weight: 450;
}
.total-price div:last-child {
    color: var(--purplish-blue);
    font-weight: 700;
}
@media screen and (max-width: 768px){
    .wrapper {
        width: 100%;
        box-shadow: none;
        margin-top: 0;
        padding: 0;
        height: auto;
    }
    .attribution {
        margin-top: 80%;
        margin-bottom: 30%;
    }
    .sidebar {
        background-image: url("./assets/images/bg-sidebar-mobile.svg");
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 10px;
        padding: 20px;
        height: 40vh;
        text-align: center;
        padding-top: 20px;
    }
    .main-content {
        position: absolute;
        background-color: var(--white);
        margin-left: 55px;
        top: 100px;
        border-radius: 10px;
        width: 80%!important;
        z-index: 1;
        box-shadow: 0 6px 8px var(--cool-gray);
    }
    .main-content .navigation{
        position: fixed;
        bottom: 0;
        right: 0;
        background-color: var(--white);
        z-index: 2;
        padding: 30px;
        width: 100%;
    }
    .step h5 {
        width: 40px; 
        height: 40px;
        font-size: 16px;
        padding: 8px;
    }
    .step div{
        display: none;
    }
    
    .add-ons-card img {
        width: 100%;
    }
    .selectPlan-card div:last-child{
        margin-left: 14px;
        line-height: 2px
    }
}